extends layout

block content
    h1= title
    p.lead.
        SwiftCode would not be possible were it not for the multitude of
        open source projects that are freely available to learn from. Below
        is the list of source projects from which typeable code has been taken,
        along with links to the code and licenses.
    .col-md-1
    .about-projects.col-md-10
        each p in projects
            .col-md-6
                .project-container.well
                    .col-md-8
                        a.project-name(href='#{p.url}') #{p.name}
                        span.lang #{p.langName}
                    .link-group.col-md-4
                        .row
                            a.btn.btn-info.btn-xs.project-link(href='#{p.codeUrl}') Code
                        .row
                            a.btn.btn-info.btn-xs.project-link(href='#{p.licenseUrl}') License
                    .clearfix
    .col-md-1
