extends layout

block content
    .container
        h1= title
        p.lead.
            SwiftCODE was envisioned and (mostly) created during
            <a href="http://pandacodium.ca/">Pandacodium</a> 2013. It took a
            few more months of on-the-side development before it began to
            take shape, but at long last it has been completed. Importantly,
            it is designed to be a <em>game</em> and nothing more. So, don't
            give "typing skill" more importance than it needs, and of course,
            <strong>have fun!</strong>
        p.lead.
            SwiftCODE would not be possible were it not for the multitude of
            open source projects that are freely available to learn from. Below
            is the list of source projects from which typeable code has been
            taken, along with links to the code and licenses. All snippets are
            copyright to their respective owners.
        .col-md-1
        .about-projects.col-md-10
            each p in projects
                .col-md-6
                    .project-container.well
                        .col-md-8
                            a.project-name(href='#{p.url}') #{p.name}
                            span.lang #{p.langName}
                        .link-group.col-md-4
                            .row
                                a.btn.btn-info.btn-xs.project-link(href='#{p.codeUrl}') Code
                            .row
                                a.btn.btn-info.btn-xs.project-link(href='#{p.licenseUrl}') License
                        .clearfix
        .col-md-1
